button
  border none
  background transparent

[role="form"]
  text-align left


.read-post
  color #424242
  & h1
    border-bottom 1px solid #ccc
    & p
      color #555
      padding-top 20px
  & .comments
    padding 20px 0 0
    margin-top 100px
    border-top 1px solid #ccc
  & .comment-form
    margin-top 100px
    text-align right
    & .media-foot
      margin-top 20px

#layer
  position fixed
  top 0
  right 0
  left 0
  bottom 0
  background black
  z-index 100
  & > *
    position