<h1>{{title}}</h1>
<hr/>

<div id="user_list"></div>
<div class="action">
	<button type="button" class="btn btn-default invite">초대</button>
</div>

<script src="/js/models/user.js"></script>
<script src="/js/collections/users.js"></script>
<script src="/js/views/users.js"></script>
<script>
	$(function() {
		new app.UsersView({
			el: '#user_list',
			collection: new app.Users()
		});

        $('button.invite').click(function() {
            $('#layer').append(new app.UserInviteView({
                model: new app.InvitedUser()
            }).render().el).fadeIn();
        })
	});
</script>