<h1>{{title}}</h1>
<hr/>
<form role="form" method="post" action="/posts{{#if editMode}}/{{post.id}}{{/if}}">
    {{#if editMode}}<input type="hidden" name="_method" value="put"/>{{/if}}
	<div class="form-group">
		<label>제목</label>
		<input type="text" class="form-control" name="title"
			   placeholder="제목을 입력하세요." {{#if editMode}}value="{{post.title}}"{{/if}}>
	</div>
	<div class="form-group">
		<label>내용</label>
		<textarea name="body" class="form-control" rows="10"
				  placeholder="내용을 입력하세요">{{#if editMode}}{{post.body}}{{/if}}</textarea>
	</div>
	<div class="clearfix">
		<button type="button" style="float:left" class="btn btn-danger" onclick="history.back()">Cancel</button>
		<button type="submit" style="float:right" class="btn btn-primary">Write</button>
	</div>
</form>