<script id="post" type="text/x-handlebars-template">
    <div class="col-sm-6 col-md-4 post">
        <div class="thumbnail">
            <div class="caption">
                <h3>{{title}}</h3>
            </div>
        </div>
    </div>
</script>
<script src="/js/models/post.js"></script>
<script src="/js/collections/posts.js"></script>
<script src="/js/views/post.js"></script>
<script src="/js/views/posts.js"></script>
<div id="posts"></div>

<script type="text/javascript">
var app = app || {};
$.ajax({
    type:"GET",
    url:'http://localhost:3000/api/posts/',
    success:function(results){
        new app.PostsView(results.posts);
    },
    error:function(e){
        console.log(e.responseText);
    }
});
</script>

