<script src="/js/models/post.js"></script>
<script src="/js/models/comment.js"></script>

<script src="/js/collections/posts.js"></script>
<script src="/js/collections/comments.js"></script>

<script src="/js/views/post.js"></script>
<script src="/js/views/posts.js"></script>
<script src="/js/views/comment.js"></script>
<script src="/js/views/comments.js"></script>

<div id="create" style="margin-bottom: 20px;">
    <div class="form-group">
        <textarea name="body" class="form-control" rows="4" placeholder="내용을 입력하세요"></textarea>
    </div>
    <div class="clearfix">
        <button style="float:right" class="btn btn-primary" id="btnCreatePost">Write</button>
    </div>
</div>
<div id="posts"></div>

<script type="text/javascript">
var app = app || {};
$(function() {
    var postsView = new app.PostsView();
    $('#btnCreatePost').click(function() {
        var post = new app.Post;
        post.save({
            body: $('#create textarea').val()
        }).then(function(param) {
            $('#create textarea').val('');
            postsView.collection.add([param.data])
        });
    });
});
</script>

